.tianqing {
  width: 1440px;
  margin: 0 auto;
}
.tianqing .banxing {
  width: 1140px;
  margin: 0 auto;
}
.tianqing .banxing header {
  height: 100px;
  overflow: hidden;
  background-color: #fff;
}
.tianqing .banxing header .header-left {
  float: left;
}
.tianqing .banxing header .header-left .logo {
  width: 105px;
  height: 30px;
  margin-top: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  background-color: #f92525;
  color: #fff;
}
.tianqing .banxing header .header-right {
  float: right;
}
.tianqing .banxing header .header-right .iconfont {
  display: inline-block;
  font-size: 18px;
  color: #262b2e;
  opacity: 0.7;
}
.tianqing .banxing header .header-right .icon-shezhi {
  margin: 42px 37px 0 0;
}
.tianqing .banxing header .header-right .icon-xiaoxi {
  margin: 42px 40px 0 0;
}
.tianqing .banxing header .header-right .logoOut {
  display: inline-block;
  width: 110px;
  height: 40px;
  margin-top: 30px;
  background-color: #f92525;
  border-radius: 2px;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
.tianqing .banxing main {
  overflow: hidden;
  background-color: #f5f8f9;
}
.tianqing .banxing main .mainTitle {
  margin-top: 70px;
  display: inline-block;
}
.tianqing .banxing main .mainTitle .big {
  font-family: Raleway-Regular;
  font-size: 30px;
  color: #262b2e;
}
.tianqing .banxing main .mainTitle .small {
  font-family: OpenSans;
  font-size: 15px;
  color: #262b2e;
  opacity: 0.7;
}
.tianqing .banxing main .mainTab {
  margin-top: 99px;
  display: inline-block;
}
.tianqing .banxing main .mainTab ul li:nth-child(1) {
  margin-left: 388px;
}
.tianqing .banxing main .mainTab ul li {
  display: inline-block;
  margin-left: 34px;
  padding-bottom: 10px;
  font-family: OpenSans-Bold;
  font-size: 13px;
  color: #262b2e;
}
.tianqing .banxing main .lubotu {
  display: inline-block;
  width: 560px;
  height: 288px;
  background-color: #fff;
  margin: 49px 0 0 0;
}
.tianqing .banxing main .lubotu .inner {
  position: relative;
  overflow: hidden;
  width: 539px;
  height: 267px;
  margin: 10px;
}
.tianqing .banxing main .lubotu .inner .imglist {
  width: 2000%;
  position: absolute;
  left: 0;
}
.tianqing .banxing main .lubotu .inner .imglist li {
  float: left;
}
.tianqing .banxing main .lubotu .inner .list {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.tianqing .banxing main .lubotu .inner .list i {
  width: 8px;
  height: 10px;
  background-color: #ccc;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}
.tianqing .banxing main .lubotu .inner .list i:last-child {
  margin-right: 0;
}
.tianqing .banxing main .lubotu .inner .list .current {
  height: 14px;
  background-color: #ffff;
}
.tianqing .banxing main .lubotu .inner .arrow {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -30px;
}
.tianqing .banxing main .lubotu .inner .arrow .arrow-left,
.tianqing .banxing main .lubotu .inner .arrow .arrow-right {
  width: 30px;
  height: 60px;
  position: absolute;
  font: 20px/60px "consolas";
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  cursor: pointer;
}
.tianqing .banxing main .lubotu .inner .arrow .arrow-right {
  right: 0;
}
.tianqing .banxing main .Support {
  display: inline-block;
  vertical-align: top;
  margin: 49px 0 0 15px;
  width: 560px;
  height: 288px;
}
.tianqing .banxing main .Support .SupportTop {
  overflow: hidden;
  height: 110px;
  background-color: #fff;
  border-bottom: solid 3px #f5f8f9;
}
.tianqing .banxing main .Support .SupportTop .Requests {
  display: inline-block;
  margin: 50px 0 0 49px;
  font-family: OpenSans;
  font-size: 18px;
  color: #262b2e;
}
.tianqing .banxing main .Support .SupportTop .view {
  display: inline-block;
  margin: 50px 0 0 217px;
  border-radius: 2px;
  border: solid 1px #262b2e;
  width: 95px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-family: OpenSans-Semibold;
  font-size: 13px;
  color: #262b2e;
  opacity: 0.7;
}
.tianqing .banxing main .Support .userMessage {
  background-color: #fff;
}
.tianqing .banxing main .Support .userMessage table tr {
  display: inline-block;
  margin: 30px 0 0 50px;
}
.tianqing .banxing main .Support .userMessage table tr :first-child {
  width: 104px;
  text-align: left;
}
.tianqing .banxing main .Support .userMessage table tr :nth-child(2) {
  width: 292px;
  text-align: left;
}
.tianqing .banxing main .Support .userMessage table tr th {
  font-family: OpenSans-Bold;
  font-size: 14px;
  color: #262b2e;
}
.tianqing .banxing main .Support .userMessage table tr td {
  font-family: OpenSans;
  font-size: 13px;
  color: #262b2e;
}
.tianqing .banxing main .Support .userMessage table tr td:last-child {
  width: 65px;
  height: 30px;
  background-color: #5dd054;
  border-radius: 2px;
  text-align: center;
}
.tianqing .banxing main .Support .userMessage table tr:nth-child(1) {
  margin-top: 20px;
}
.tianqing .banxing foot #haha {
  width: 120px;
  height: 300px;
  background-color: red;
}
.cur {
  border-bottom: solid 2px #000;
}
.enter {
  background-color: #ccc;
}
.haha {
  width: 120px;
  height: 300px;
  background-color: red;
}
